<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126245781987-oa3n99q4v5m526enoejtuu89gkohk54v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126245781987-oa3n99q4v5m526enoejtuu89gkohk54v</string>
	<key>API_KEY</key>
	<string>AIzaSyD0peJ-VX0u4_JwplbDofktGTiGYLLilU4</string>
	<key>GCM_SENDER_ID</key>
	<string>126245781987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saiWeather</string>
	<key>PROJECT_ID</key>
	<string>sai-zayar-htet-weather</string>
	<key>STORAGE_BUCKET</key>
	<string>sai-zayar-htet-weather.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126245781987:ios:5a74db49b0523287bde0d6</string>
</dict>
</plist>